$highlight-color: hsl(192, 70%, 40%);
$attention-color: hsl(43, 100%, 38%);
$tip-color: hsl(119, 19%, 43%);
$section-title-background: hsla(201, 100%, 14%, 0.15);
$section-within-section-title-background: hsla(201, 100%, 14%, 0.07);

:root {
  --secondary-text: #333;
  --highlight-color: #{$highlight-color};
  --attention-color: #{$attention-color};
  --tip-color: #{$tip-color};
  --section-title-background: #{$section-title-background};
  --section-within-section-title-background: #{$section-within-section-title-background};
}

.night_mode {
  --secondary-text: #ddd;
  --highlight-color: #{adjust-color($highlight-color, $lightness: 8%)};
  --attention-color: #{adjust-color($attention-color, $lightness: 5%)};
  --tip-color: #{adjust-color($tip-color, $lightness: 5%)};
  --section-title-background: hsl(201, 100%, 18%);
  --section-within-section-title-background: hsl(201, 100%, 13%);
}

/**
  Font faces
  -----------------------------------------------
**/

@font-face {
  font-family: NittiGrotesk;
  src: url("_NittiGrotesk.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NittiGrotesk;
  src: url("_NittiGroteskItalic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: NittiGrotesk;
  src: url("_NittiGroteskBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: NittiGrotesk;
  src: url("_NittiGroteskBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: NittiGroteskCondensed;
  src: url("_NittiGroteskCondensed.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NittiGroteskCondensed;
  src: url("_NittiGroteskCondensedBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("_NotoSans-Light.ttf");
}

/**
  Buttons
  -----------------------------------------------
**/

.button {
  border-radius: 0.5em;
  border: 1px solid;
  border-color: var(--secondary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  font-weight: normal;
  transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;

  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  &.error {
    border-color: rgb(240, 57, 57) !important;
    background: rgba(240, 57, 57, 0.2) !important;
  }
}

.svg-button {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 100%;

  &.small {
    border: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
  }

  /** increase the clickable area of the button **/
  &::before {
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    border-radius: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: rgba(200, 200, 200, 0.5);
  }
}

.button:active {
  background: rgba(200, 200, 200, 0.5);
}

@media (hover: hover) and (pointer: fine) {
  .night_mode .button:hover {
    background: rgba(100, 100, 100, 0.5);
  }
}

.night_mode .button {
  &:active {
    background: rgba(100, 100, 100, 0.5);
  }
  border-color: white;
}

.svg-button {
  svg {
    width: 18px;
    height: 18px;
  }

  &.small svg {
    width: 14px;
    height: 14px;
  }
}

.night_mode svg {
  fill: white;
}

/**
  Card items
  -----------------------------------------------
**/

.card {
  font-family: "NittiGrotesk";
  font-size: 38px;
  text-align: center;
  background-color: white;
  width: 96%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.rank {
  position: absolute;
  font-size: 50%;
  right: 0.5em;
  top: 0.5em;

  &[data-content="X"] {
    display: none;
  }

  &::before {
    content: "#";
  }
}

.word {
  font-weight: bold;

  &:has(.feminine .stem) {
    margin-bottom: 0.75em;
  }
}

.word_span {
  position: relative;
  display: inline-block;
}

.feminine {
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
  -webkit-user-select: none;

  &:has(.stem) {
    top: 60%;
  }
}

.stem {
  color: rgba(0, 0, 0, 0);
  position: relative;

  &::before {
    content: attr(data-before);
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 75%;
    font-weight: normal;
  }

  &::after {
    content: attr(data-after);
    position: absolute;
    bottom: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 75%;
  }
}

.night_mode .stem {
  color: rgba(255, 255, 255, 0);

  &::before,
  &::after {
    color: rgba(255, 255, 255, 1);
  }
}

#ipa {
  font-size: 60%;
  line-height: 1.3em;
}

.ipa {
  font-size: 85%;
  font-family: NotoSans;
  line-height: 1em;
}

.audio {
  margin: 0.3em;
}

.pos-definition {
}

.pos {
  font-size: 50%;
  font-weight: bold;
  color: gray;
  text-decoration: dotted underline;
  -webkit-text-decoration: dotted underline;
  cursor: help;

  &.expanded {
    font-size: 40%;
    padding-top: 0.4em;
    font-weight: normal;
    text-decoration: none;
    display: block;
    cursor: auto;
  }
}

.definition {
  font-style: italic;
  font-weight: bold;
}

.pre-suffix {
  opacity: 40%;
  font-weight: 400;
  // workaround to prevent clipping
  padding: 0.2em;
  margin: -0.2em;
}

.grammar {
  opacity: 60%;
  font-weight: 400;
  font-size: 60%;
  font-style: normal;
  display: inline-block;
}

span.no-break {
  white-space: nowrap;
}

.disamb {
  font-style: normal;
  font-size: 80%;
  opacity: 60%;
  font-weight: 400;

  &::before {
    content: "";
    display: block;
  }
}

.front .disamb {
  display: none;
}

.register {
  font-size: 40%;
  background: #eee;
  padding: 0.3em;
  border-radius: 0.8em;
}

.night_mode .register {
  background: transparent;
  border: 1px solid #eee;
}

.fr {
  font-weight: bold;
}

.de {
  font-style: italic;
}

.spoiler {
  transition: color 0.2s, background-color 0.2s;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border-radius: 0.2em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  &:not(.clicked) {
    color: transparent;
    background: #e3e3e3;
    > * {
      opacity: 0;
      transition: all 0.2s;
    }
  }
}

.night_mode .spoiler:not(.clicked) {
  color: transparent;
  background: #383838;
  > * {
    opacity: 0;
  }
}

.spoiler:not(.clicked) .svg-button {
  opacity: 0;
  pointer-events: none;
}

span.spoiler {
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

.sentence-with-audio .svg-button {
  display: inline-flex;
  margin-right: 0.1em;
  align-items: center;
  transform: translateY(0.1em);
}

a {
  text-decoration: none;
  color: #1d4ed8;
}

.night_mode a {
  color: #bfdbfe;
}

.github {
  font-size: 12px;
  text-align: center;

  a::before {
    content: "\2665\fe0e";
    font-size: 90%;
    margin-right: 0.2em;
    font-family: monospace;
  }
}

.section .github {
  text-align: right;
  a::before {
    content: "" !important;
  }
}

.version {
  font-size: 12px;
}

hr {
  width: 100%;
}

/**
  Cloze game
  -----------------------------------------------
**/
#cloze-game {
  background: #f5f5f5;
  padding: 1em;
  border-radius: 0.5em;
  transition: background-color 0.2s, color 0.2s, padding 0.2s;
  overflow: hidden;
  position: relative;

  &.finished {
    background: rgba($tip-color, 0.5) !important;

    hr, #word-buttons {
      display: none;
    }
  }

  #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 500;
    transition: opacity 0.2s, background-color 0.2s;
    font-size: 75%;
    color: var(--secondary-text);
    cursor: pointer;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  #sentence-cloze {
  }

  hr {
    opacity: 0.2;
    margin: 1.25em 0;
  }

  .cloze {
    display: inline-block;
    transition: background-color 0.2s, color 0.2s;
  }

  .spoiler {
    padding: 0;
    text-decoration: none !important;
  }

  .spoiler + .spoiler.no-space {
    margin-left: -0.5em;
    padding-left: 0.5em;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1rem;
  }

  .word-button {
    height: 1.6em;
    min-width: 1.5em;
    padding: 0 0.4em;
  }
}

.night_mode #cloze-game {
  background: #222;
}

/**
  Box
  -----------------------------------------------
**/

.card-box {
  margin-top: 1.5em;
  position: relative;
  font-size: 40%;
  border: 1px solid gray;
  border-radius: 14px;
  padding: 10px;
  text-align: left;
}

.note > *:not(.section-title) + *:not(.section-title) {
  margin-top: 0.5em;
}

.card-box:not(:last-of-type) {
  margin-bottom: 3em;
}

.box-float {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  transform: translateY(-120%);
  font-size: 90%;
  user-select: none;
  -webkit-user-select: none;

  .svg-button {
    margin-left: 0.3em;
  }
}

#sentences {
  border-width: 3px;
  padding: 12px;
  font-size: 50%;
  margin-top: 2.5em;

  #cloze-game {
    background: transparent !important;
    padding: 0.5em !important;

    &.finished {
      padding: 0 !important;
    }
  }
}

#front-sentence {
  margin-top: 2em;
  font-size: 55%;

  .fr {
    font-weight: normal;
  }

  #sentences-inner {
    margin-bottom: 1.5em;
  }
}

.word-highlight {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--highlight-color);
}

b,
i,
u {
  line-height: 100%;
}

.marklemma {
  background: var(--highlight-color);
  color: white;
  padding: 0.1em 0.2em;
  border-radius: 0.5em;
}

u {
  text-decoration: none;
  color: var(--highlight-color);
}

.card-box {
  p {
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding-inline-start: 1.5em;
  }

  li {
    list-style-type: square;
  }

  li:not(:first-child) {
    margin-top: 0.75em;
  }

  .examples {
    padding-left: 1em;
  }

  .examples {
    &:not(:last-child) {
      margin-bottom: 0.75em;
    }

    .fr:not(:first-child),
    p:not(:first-child) {
      margin-top: 0.5em;
    }
  }

  h3:not(:first-child) {
    margin: 0;
    margin-top: 0.75em;
  }

  h4 {
    margin: 0;
    margin-top: 0.5em;
  }

  .section {
    margin: 0 !important;

    .section {
      .section-title {
        font-size: 100%;
        background: var(--section-within-section-title-background);
      }
    }

    &.expanded > .section-title:after {
      content: "\2212";
    }
  }

  .section-title {
    font-weight: bold;
    font-size: 120%;
    background: var(--section-title-background);
    margin: 0 -10px;
    padding: 0.2em 10px;
    cursor: pointer;
    transition: opacity 0.2s;

    &::before {
      display: none;
      content: attr(data-topic);
      font-size: 70%;
      border-radius: 0.5em;
      padding: 0 0.35em;
      margin-right: 0.5em;
      border-width: 1px;
      border-color: var(--secondary-text);
      border-style: solid;
      vertical-align: middle;
    }

    &[data-topic] {
      font-weight: normal;
      &::before {
        display: inline-block;
      }
    }

    &:active {
      opacity: 0.7;
    }
    &:after {
      content: "\002B";
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
  }

  .section-content {
    margin: 0 -10px;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: grid;
    gap: 0.5em;

    > *:first-child {
      margin-top: 1em !important;
    }

    > *:last-child {
      margin-bottom: 1.5em !important;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .card-box .section-title:hover {
    opacity: 0.7;
  }
}

.section-conjugation-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.night_mode .section-conjugation-table {
  background: #444;
}

.section-conjugation-table {
  background: #eee;
  padding: 0.25em 0.75em;
  border-radius: 0.5em;

  td {
    &:not(:last-child) {
      text-align: right;
    }

    &:last-child {
      font-weight: bold;
    }

    &::before {
      content: attr(data-prefix);
    }
  }

  tr.elision td:not(:last-child) > span.full {
    display: none;
  }
  tr:not(.elision) td:not(:last-child) > span.elision {
    display: none;
  }

  &[data-aux="etre"] {
    td[data-plural="true"]::after {
      content: "s";
    }
    tr span.avoir {
      display: none;
    }
  }

  &:not([data-aux="etre"]) {
    tr span.etre {
      display: none;
    }
  }

  &[data-reflexive="true"] {
    td {
      &::after {
        content: attr(data-reflexive-suffix);
      }
      &::before {
        content: attr(data-reflexive-prefix);
      }
      &:not(:last-child) > span:not(.reflexive) {
        display: none;
      }
    }
    tr.elision td::before {
      content: attr(data-reflexive-prefix-elision);
    }
  }

  &:not([data-reflexive="true"]) {
    td:not(:last-child) > span.reflexive {
      display: none;
    }
  }

  &[data-only-third-person="true"] {
    tr:not(:nth-child(3)):not(:only-of-type) {
      display: none;
    }
  }
}

#conjugation-grammar > :first-child {
  margin-top: 0.75em !important;
}

@mixin shared-styles($css-color, $scss-color, $icon-url) {
  $background: rgba($scss-color, 0.15);

  color: $css-color;
  border-color: $css-color;
  background: $background;

  svg {
    fill: $css-color;
  }

  .spoiler:not(.clicked) {
    background: $background !important;
  }

  &::before {
    content: url($icon-url);
  }
}

.attention,
.tip,
.highlight {
  position: relative;
  border-radius: 0.4em;
  padding: 0.5em;
  border-left: 2px solid black;
  padding-left: calc(0.5em + 36px);
  min-height: 32px;

  u {
    color: #d92626;
  }

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-35px);
    height: 30px;
    width: 30px;
  }
}

.highlight {
  @include shared-styles(
    var(--highlight-color),
    $highlight-color,
    "data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Einformation-circle%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='invisible_box' data-name='invisible box'%3E%3Crect width='48' height='48' fill='none'/%3E%3C/g%3E%3Cg fill='rgb(#{red($highlight-color)},#{green($highlight-color)},#{blue($highlight-color)})' id='icons_Q2' data-name='icons Q2'%3E%3Cpath d='M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2Zm0,40A18,18,0,1,1,42,24,18.1,18.1,0,0,1,24,42Z'/%3E%3Cpath d='M24,20a2,2,0,0,0-2,2V34a2,2,0,0,0,4,0V22A2,2,0,0,0,24,20Z'/%3E%3Ccircle cx='24' cy='14' r='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"
  );
}

.attention {
  @include shared-styles(
    var(--attention-color),
    $attention-color,
    "data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 2.44995C11.45 1.85995 12.58 1.85995 13.26 2.44995L14.84 3.79995C15.14 4.04995 15.71 4.25995 16.11 4.25995H17.81C18.87 4.25995 19.74 5.12995 19.74 6.18995V7.88995C19.74 8.28995 19.95 8.84995 20.2 9.14995L21.55 10.7299C22.14 11.4299 22.14 12.5599 21.55 13.2399L20.2 14.8199C19.95 15.1199 19.74 15.6799 19.74 16.0799V17.7799C19.74 18.8399 18.87 19.7099 17.81 19.7099H16.11C15.71 19.7099 15.15 19.9199 14.85 20.1699L13.27 21.5199C12.57 22.1099 11.44 22.1099 10.76 21.5199L9.18001 20.1699C8.88001 19.9199 8.31 19.7099 7.92 19.7099H6.17C5.11 19.7099 4.24 18.8399 4.24 17.7799V16.0699C4.24 15.6799 4.04 15.1099 3.79 14.8199L2.44 13.2299C1.86 12.5399 1.86 11.4199 2.44 10.7299L3.79 9.13995C4.04 8.83995 4.24 8.27995 4.24 7.88995V6.19995C4.24 5.13995 5.11 4.26995 6.17 4.26995H7.9C8.3 4.26995 8.86 4.05995 9.16 3.80995L10.75 2.44995Z' stroke='rgb(#{red($attention-color)},#{green($attention-color)},#{blue($attention-color)})' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8.13V12.96' stroke='rgb(#{red($attention-color)},#{green($attention-color)},#{blue($attention-color)})' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.9945 16H12.0035' stroke='rgb(#{red($attention-color)},#{green($attention-color)},#{blue($attention-color)})' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"
  );
}

.tip {
  @include shared-styles(
    var(--tip-color),
    $tip-color,
    "data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='2 2 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 10V11.5M12 14H12.01M10 16.584V18.9996C10 20.1042 10.8954 20.9996 12 20.9996C13.1046 20.9996 14 20.1042 14 18.9996L14 16.584M12 3V4M18.3643 5.63574L17.6572 6.34285M5.63574 5.63574L6.34285 6.34285M4 12H3M21 12H20M17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z' stroke='rgb(#{red($tip-color)},#{green($tip-color)},#{blue($tip-color)})' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"
  );
}

.cell-title {
  display: inline-block;
  border: 1px solid;
  padding: 0 0.3em;
  border-radius: 0.5em;
  margin-bottom: 0.2em;
}

/**
  Conjugations
  -----------------------------------------------
**/

#verb-classification {
  font-style: italic;
}

#conjugation-table {
  font-size: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  table-layout: fixed;
  width: 100%;

  tbody {
    vertical-align: middle;
  }

  tr {
    line-height: 135%;
    cursor: pointer;
    transition: background-color 0.2s;

    &:active {
      background: rgba(200, 200, 200, 0.5);
    }
  }

  td {
    border-radius: 0.5em;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 600px) {
  #conjugation-table {
    font-family: NittiGroteskCondensed;
  }
}

@media (hover: hover) and (pointer: fine) {
  #conjugation-table tr:hover {
    background: rgba(200, 200, 200, 0.5);
  }
}

table {
  width: 100%;
}

tbody {
  vertical-align: top;
}

tr.regular_tense {
  display: none;

  &.show {
    display: table-row;
    animation: fade_in_show 0.5s;
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tense {
  font-weight: bold;
  white-space: nowrap;
  width: 20%;
}

.tense_stem {
  text-align: right !important;
  text-decoration: underline;
  width: 17%;
}

tr[data-tense="PC"] .tense_stem {
  text-decoration: none;
}

.squished {
  transform-origin: left center;
}

.irregular {
  color: black;
  background: #eee;
  padding: 0 0.2em;
  text-align: center;
}

.night_mode .irregular {
  color: white;
  background: #444;
}

.regular {
  color: #333;
  opacity: 0.7;
}

.night_mode .regular {
  color: white;
}

/**
  Grammar library
  -----------------------------------------------
**/
#grammar-library {
  transition: all 0.3s ease-out;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;

  #show-hide-grammar-library {
    display: none;
    border: none;
  }

  #grammar-sections {
    #grammar-sections-title {
      display: flex;
      align-items: center;
      gap: 0.25em;
      margin-bottom: 0.5em;
      font-weight: bold;
      font-size: 120%;
    }

    .section-title {
      font-weight: normal;
    }
  }

  &.collapsed {
    width: 112px;
    height: 36px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    #show-hide-grammar-library {
      display: flex;
    }

    #close-grammar-library {
      display: none;
    }

    #grammar-sections {
      display: none;
    }
  }
}
